@page "/authorizationtesting"
@attribute [Authorize]

<AuthorizeView>
    <Authorized>
        <span>You are authorized as @context.User.Identity.Name</span>
    </Authorized>
    <NotAuthorized>
        <span>You are not authorized</span>
    </NotAuthorized>
</AuthorizeView>

@code {

}
