@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


 /*---------------------------------------------------------------------------------------------------*/


.btn-nextIdea {
    color: white !important;
    background-color: rgb(63, 81, 182) !important;
    height: 45px;
    width: 110px;
    border-radius: 5px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

        .btn-nextIdea:hover {
            transform: translateY(-2px);
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
        }

        .btn-nextIdea:active {
            transform: translateY(1px);
        }


/*---------------------------------------------------------------------------------------------------*/



.btn-appbar-menu {
    padding: 15px 30px;
    font-size: 18px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    height: 40px;
    width: 100px;
    color: azure;
}

    .btn-appbar-menu:hover {
        transform: scale(1.2);
        background-color: #2980b9;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    }



.btn-generate {
    color: white !important;
    border-radius: 5px;
    background-color: rgba(22, 162, 73) !important;
    height: 50px !important;
    width: 300px !important;
    margin-top: 50px !important;
    font-weight: bold !important;
    transition: transform 0.2s ease, box-shadow 0.2s ease !important;
}

    .btn-generate:hover {
        transform: translateY(-2px) !important;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5) !important;
    }

btn-generate:active {
    transform: translateY(1px) !important;
}

    .animated-icon {
        animation: move-up-down 1.5s ease-in-out infinite, color-change 5s linear infinite;
        will-change: transform, stroke;
    }

    @keyframes move-up-down {
        0%, 100% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-3px);
        }
    }

    @keyframes color-change {
        0% {
            stroke: #ff0000;
        }

        16% {
            stroke: #ff7f00;
        }

        33% {
            stroke: #ffff00;
        }

        50% {
            stroke: #00ff00;
        }

        66% {
            stroke: #0000ff;
        }

        83% {
            stroke: #4b0082;
        }

        100% {
            stroke: #9400d3;
        }
    }